.location_image img{
    float: left;
    width: 50%;
    }
    
    .location_info_div h4{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    textarea {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }