.listing {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }
  
  .listing .productcard{
    flex:1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 1.5em;
  text-align: center;
  background-color: white;
  /* font-family: "gotham"; */
  }
  
  .price .productcard{
    font-size: 22px;
  }
  
  .listing .productcard button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    /* background-color: rgb(124,185,232); */
    /* brown color */
    background-color: #483519;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .listing .productcard button:hover {
    opacity: 0.9;
      color: black;
    /* lime green color */
    background-color: #aad922;
    /* background-color: rgb(255,255,161); */
  
  }