h1{
  text-align:center;
  margin-top:4rem;
}

.item-list button {
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: #699E3C;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
}

.listing .product-item button:hover {
  opacity: 0.9;
    color: black;
  background-color: #aad922;
}

.list-container {
display: flex;
flex-direction: row;
align-items: center;

flex-wrap: wrap;
min-width: 400px;
max-width: 1600px;
}

.catagory-item{
display: flex;
flex-direction: column;

width: 100%;
}

.item-list{
display: flex;
justify-content: space-between;
flex-direction: column;

align-items: center;
background-color: #FFFFFF;
color:black;
border: 1px solid #626262;
margin: 3px;
padding: 10px 0 0 10px;

width: 100%;
}

.product-item {
display:flex;
justify-content: space-around;
align-content: space-around;
align-items: center;
width: 100%;
padding: 4px;
}

span {
  padding-left: 5px;
}
